# 允许访问幻翼盘旋锚点。 / Allow access to the phantom circling anchor.
public net.minecraft.world.entity.monster.Phantom anchorPoint
# 允许访问幻翼移动目标点。 / Allow access to the phantom movement target.
public net.minecraft.world.entity.monster.Phantom moveTargetPoint
# 允许访问幻翼攻击阶段字段。 / Allow access to the phantom attack phase field.
public net.minecraft.world.entity.monster.Phantom attackPhase
# 公开幻翼攻击阶段内部类型。 / Make the phantom attack phase nested type public.
public net.minecraft.world.entity.monster.Phantom$AttackPhase
